/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2018, 11:54:27 PM
    Author     : RICV
*/
html{
    position: relative;
}
h1:after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background: #007BFF;
}
h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    font-size: 25px;
    color: #007BFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 20px;
    color: #007BFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
p{
    text-align: justify;
    color: #333333;
}
body #Footer{
    margin-top: 30px;
    background-color: #333;    
    padding: 30px 0;
    position: relative;
    bottom: -55px;
}

#Footer .container{
    color:white;
}
#Body{
    padding: 80px 0 120px 0;
}
label{
    color: #007BFF !important;
}




p.text-muted{
    text-align: center !important;     
}



.info-box-icon{
    padding-top: 10% !important;
}